<div class="conteudo">
  <div class="cartao-total">
    <div class="cartao-1">
      <div class="cabecalho">
        <div class="titulo-valor">
          <span>My balance</span>
          <span class="valor-span">$921.48</span>
        </div>
        <div class="logo">
          <img src="../assets/logo.svg" alt="">
        </div>
      </div>
    </div>
    <div class="conteudo-centro">
      <div class="titulo">
        <span>Spending - Last 7 days</span>
      </div>
      <div class="barra-grafico">
        <div class="dados-coluna">
          <div class="coluna mon"></div>
          <span>mon</span>
        </div>
        <div class="dados-coluna">
          <div class="coluna tue"></div>
          <span>tue</span>
        </div>
        <div class="dados-coluna">
          <div class="coluna wed"></div>
          <span>wed</span>
        </div>
        <div class="dados-coluna">
          <div class="coluna thu"></div>
          <span>thu</span>
        </div>
        <div class="dados-coluna">
          <div class="coluna fri"></div>
          <span>fri</span>
        </div>
        <div class="dados-coluna">
          <div class="coluna sat"></div>
          <span>sat</span>
        </div>
        <div class="dados-coluna">
          <div class="coluna sun"></div>
          <span>sun</span>
        </div>
      </div>
      <div class="linha">
        <hr>
      </div>
      <div class="rodape">
        <div class="total-month">
          <span class="titulo-rodape">Total this month</span>
          <span class="valor-rodape">$478.33</span>
        </div>
        <div class="from-month">
          <span class="porcentagem-rodape">+2.4%</span>
          <span class="titulo-rodape">from last month</span>
        </div>
      </div>
    </div>
  </div>
</div>
